@model List<App.Admin.Models.ViewModels.OrderListViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row">

    <!-- All Orders -->
    <div class="col-xl-5 col-lg-6 mb-4">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Orders</h6>
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("AllOrders")
            </div>
        </div>
    </div>


    <!-- Active Seller -->
    <div class="col-xl-5 col-lg-6 mb-4">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Active Seller</h6>
            </div>
            <div class="card-body p-0">
                @await Component.InvokeAsync("ActiveSellers")
            </div>
        </div>
    </div>

    <!-- Total Earnings -->
    <div class="col-xl-2 col-lg-12 mb-4">
        @await Component.InvokeAsync("TotalEarning")
    </div>

</div>
