<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul></ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="header__top__right__language">
                                    <i class="fa fa-user"></i>
                                    <div>Hesabım</div>
                                    <span class="arrow_carrot-down"></span>

                                    <ul>
                                        <li>
                                            <a href="/profile">
                                                <i class="fa fa-user-circle"></i> My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="fa fa-sign-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__language">
                                    <i class="fa fa-user"></i>
                                    <div>Hesabım</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/img/SiliconShopLogo.png" alt="Logo">
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li>
                            <a href="/products/list">Shop</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyFavorites", "Favorite")">My Favorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/cart">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
